.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Site Wide Styles
--------------------------------------------------------------*/

body {
	background: $primary-bg-colour;
	color: $primary-text-colour;
}

/*--------------------------------------------------------------
## Front-Page Styles
--------------------------------------------------------------*/

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	font-family: $font__main;
	
	min-height: 100vh;

	@media screen and (min-width: $query__small) {
		font-size: 1.75rem;
	}

	@media screen and (min-width: $query__medium) {
		font-size: 2.5rem;
	}
}

/*--------------------------------------------------------------
## Blog Page Styles
--------------------------------------------------------------*/

.post-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: auto;
	min-height: 100vh;
	padding: 2.5em 0;

	article {
		width: 300px;

		@media screen and (min-width: $query__medium) {
			font-size: 1.5em;
			width: 600px;
		}
	}
}

.entry-header {
	display: flex;
	justify-content: space-between;
}

.entry-title {
	margin: 0;

	a { 
		color: $primary-text-colour;
		text-decoration: none;
	}
}

.entry-date {
	margin: 0;
}

.post-description {
	padding: 2em 0;
}

// Horizontal Line Styles

hr.style1{
    border-top: 1px solid $primary-text-colour;
    width: 300px;
	margin: 0 auto;

	@media screen and (min-width: $query__medium) {
		width: 600px;
	}

}

/*--------------------------------------------------------------
## Footer Styles
--------------------------------------------------------------*/

.site-footer {
	display: none;
	visibility: hidden;
}