.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Site Wide Styles
--------------------------------------------------------------*/

body {
	background: $primary-bg-colour;
	color: $primary-text-colour;
}

/*--------------------------------------------------------------
## Front-Page Styles
--------------------------------------------------------------*/

.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
	font-family: $font__main;
	
	min-height: 100vh;

	@media screen and (min-width: $query__small)  {
		font-size: 1.75em;
	}

}

/*--------------------------------------------------------------
## Blog Page Styles
--------------------------------------------------------------*/

.post-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 100vh;

	padding: 5em 0em;
	margin: 0 auto;

	@media screen and (min-width: $query__medium)  {
		font-size: 1.5em;
	}

	article {
		width: 75%;

		@media screen and (min-width: $query__small)  {
			width: 60%;
		}

		@media screen and (min-width: $query__large)  {
			width: 50%;
		}
	}
}

.entry-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.entry-title {
	margin: 0;
	

	a { 
		color: $primary-text-colour;
		text-decoration: none;

		word-break: break-word;
	}
}

.entry-date {
	font-style: italic;
	margin: 0;
}

.post-description {
	padding: 2em 0;
}

// Horizontal Line Styles

hr.style1{
	background-color: $primary-bg-colour;
    border-top: 1px solid $primary-text-colour;
    width: auto;
	margin: 0 auto;
}

/*--------------------------------------------------------------
## Single Post  Styles
--------------------------------------------------------------*/

.single-post article {
	min-height: 100vh;
	width: 75%;
	padding: 5em 0;
	margin: 0 auto;

		@media screen and (min-width: $query__small)  {
			width: 60%;
		}

		@media screen and (min-width: $query__large)  {
			width: 50%;
		}
}

/*--------------------------------------------------------------
## Footer Styles
--------------------------------------------------------------*/

.site-footer {
	display: none;
	visibility: hidden;
}