/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/

$base__space-unit: 1.5em;

/*------------------------------------------------------------*/

$size__site-main: 100%;
$size__site-sidebar: 25%;

/*--------------------------------------------------------------
# Helper Classes
--------------------------------------------------------------*/

.container {
	width: 1024px;
	margin: 0 auto;
}