/*--------------------------------------------------------------
## Structure
--------------------------------------------------------------*/

$base__space-unit: 1.5em;

/*------------------------------------------------------------*/

$size__site-main: 100%;
$size__site-sidebar: 25%;

/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/

$query__small: 600px;
$query__medium: 900px;
$query__large: 1200px;

/*--------------------------------------------------------------
# Helper Classes
--------------------------------------------------------------*/

.container {
	width: 1024px;
	margin: 0 auto;
}